.titleCard {
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  padding-bottom: 2.5%;

  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;

  animation-name: spin;
  animation-duration: 1s;
}
@keyframes spin {
  0%{
    transform: rotate(20deg) translate(100%, 0%);
    opacity: 0;
  }
  100%{
    transform: rotate(0deg);
    opacity: 1;
  }
}
.text-center {
  text-align: center;
}
.form-center {
  text-align: center;
}
input[type=text]{
  width: 50%;
  text-align: center;
}
input[type=submit]{
  width: 25%;
}
body {
  overflow: hidden;
}
